/* 	
	Name:		Suri Lee
	Date:		10-10-2021
	Project:	Prducts or Services page
	File:		styles.css
*/

body {
	color:rgb(91, 91, 91);
	background-color: white;
	margin: 100px 400px 100px 400px;
}

h1 {
	font-size: 15px;
	width: 100%;
}

.About_us, .owner {
	width: 80%;
	margin: 0 0 0 8%; /* I wanted the text to be in the middle so I added 8% margin on the left */
	font-family:'Fauna One', serif;
}

html {
	background-color: ivory;
}

header {
	background-color:ivory;
}

.header h2 {
	color: white;
	font-family:'Fauna One', serif;
	
}
.header1 {
	text-decoration: underline;
	color: black;
}
h3 {
	font-family: 'Fauna One', serif;
	font-size:2em;
}
.owner p, .About_us p {
	border: 1px solid black;
	font-weight: bold;
	padding: 10px;
}

footer {
	width: 100%;
	clear: left; /* to avoid collision with floats */
}

address {
	background-image: linear-gradient(#3caea3, #20639b);
	color: white;
	font-style: normal; /* address tag makes the font italic so I had to change it */
	font-variant: small-caps;
	font-size: 1.5em;
	line-height: 5;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

ul {
	padding: 0;
	width: 100%;
}


li {
	display: inline;
}


nav a {
	border: none;
	display: inline-block;
	text-decoration: none;
	width:23%;
	text-align: center;
	line-height: 3; /* adjusting the size of the nav bar */
	color: white;
	font-family: 'Fauna One', serif;
	
}


a:link, a:visited, a:focus {
	background-color: #20639b;
}

a:hover {
	background: #00334d;
	color: white;
}

a:active {
	background: skyblue;
	color: black;
}

.houseimage {
	float: left;
	margin-right: 10px;
	clear: both;
}

/* created this class (ontheright) to make the p tag to be on the right side of the image */
.ontheright{
	margin: 20px;
	padding: 36px;
	overflow: auto; /* overflow prevents the p box to collide with the image */
	font-family: 'Fauna One', serif;
	font-size: 16px;
}

.containers {
	position: relative;
	width:50%;
	float:left;
}


.image {
  opacity: 1;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containers:hover .image {
  opacity: 0.3;
}

.containers:hover .overlay {
  opacity: 1;
}

.text {
	background-color: black;
	opacity: 0.7;
	color: white;
	padding: 16px 32px;
	font-family: 'Fauna One', serif;
}



.header{
	width:100%;
	background-image: linear-gradient(#3caea3, #20639b);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	line-height: 3;
	
}
.container{
    text-align:center;
	position:sticky;
	top:0;
 }

.forms {
	background-color: ivory;
	font-family: 'Fauna One', serif;
	text-align:center;
	font-size: 20px;
	color: black;
	font-weight:bold;
}

